<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="hand_with_arm">

  <xacro:include filename  = "/home/al/combined_aubo_hand/aubo/aubo_i5.xacro" />
  <xacro:include filename= "/home/al/combined_aubo_hand/hand/Krysalis_Assem_w_tip_w_wrist.xacro" />

  <joint name="connect" type="fixed">
    <parent link="wrist3_Link"/>
    <child link="base_link_hand"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

 

</robot>
